/* Unit Converter Started March 2023 Kirk Mitchell */

*{
transition-duration: 250ms;}

@font-face {
font-family: 'neoclassical';
src: url('/neoclassical.woff') format('woff');
font-weight: normal;
font-style: normal;
}

html {
width: 100vw;
height: 100vh;
}

body {
margin: 0;
padding: 0;
background-color:lightgrey;
color:white;
font-family:'Montserrat', sans-serif;
}

#top-spacer{
margin-bottom:-250px;
display:flex;
background-color:#6843ff;
width:100%;
height:300px;}

.main-title{
color:#001858;
transform:rotate(90deg);
opacity:.5;
position:absolute;
right:-45px;
bottom:55px;
font-size:1.5em;
font-family: 'neoclassical', serif;
text-shadow:2.5px 2.5px 1px #f582ae;
}

a{
text-decoration: none;
color:inherit;}

.flex-center{
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;}



.h1 {
margin-top:-20px;
margin-bottom:0px;
font-weight:500;
margin-right:30px;
font-size:2em;
margin-left:30px;

}

.p-normal {
    font-weight:300;
font-size:1.2em;
margin-left:10px;
margin-right:10px;
}

.p-sm{

font-size:.8em;
font-weight: 300;}

input{
margin-left:auto;
margin-right:auto;
font-family:inherit;
font-weight:700;
margin-top:20px;
height:75px;
width:100px;
background-color:inherit;
border:1px solid white;
color:white;
font-size:3em;
padding:5px;
text-align: center;
justify-content: center;
align-items: center;
border-radius:20px
}

#converter-box{
z-index:-1;
display:flex;
background-color:white;
color:#6843ff;
margin-left:auto;
margin-right:auto;
width:600px;
height:150px;
margin-top:55px;
margin-bottom:-30px;
border-radius:20px;}

.convh1{font-size:1.5em;
margin-bottom:-10px;}
/* Buttons */

.button{
justify-content: center;
width:200px;
color:#6843ff;
background-color:white;
text-shadow:1px 1px 1px gray;
font-family:inherit;
font-size:2em;
padding:5px 10px;
border:none;
margin-left:auto;
margin-right:auto;
text-align: center;
align-items: center;
border-radius:15px;
letter-spacing: .5px;
border-bottom:4px solid gray;
border-right:4px solid gray;
margin-bottom:10px;
margin-top:20px;
display: flex;

}

.button:hover{
background-color:#6843ff;
color:white;
text-shadow:2px 2px 1px gray;
border-bottom:4px solid gray;
border-right:4px solid gray;
font-size:2.1em;
}

.button:active{font-size:1.7em;}

.img{height:200px;
width:200px;
background-color:red;
border-radius:50%;}

.bottom-spacer{
    height:75px;
}








@media (max-width: 768px){
.flex-center{flex-direction: column;
align-items: center;
}

#converter-box{
    width:350px;
}
#top-spacer{height:250px;
    margin-bottom:-220px;
}

.main-title{

transform:rotate(0deg);
bottom:-10px;
right:10px;

}

}